.home-banner {
  background-image: url('https://www.thespruceeats.com/thmb/ufs0TB2fonPTiVuoGI2XU-nE18E=/3602x2401/filters:no_upscale():max_bytes(150000):strip_icc()/bar101-131953873-580e82b65f9b58564cf4664a.jpg');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}
