.navbar-cocktail {
  justify-content: space-between;
  background: white;
  background-color: transparent;
  transition: 0.5s background-color ease;
  // color: white;
}

.navbar-cocktail-white {
  background-color: black;
}

.navbar-cocktail .navbar-collapse {
  flex-grow: 0;
}

.navbar-cocktail .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: white !important;
}
